extends layout
block content
    html
        head
            meta(charset='utf-8')
            script(src='..fullcalendar/dist/index.global.js')
            form(method='POST' action='')
                div.form-group.mb-2
                    input.form-control.w-auto(type='text' placeholder='Rechercher un utilisateur' id='user' name='user')
                    button.btn.btn-primary(type='submit') Recherche
            script.
                document.addEventListener('DOMContentLoaded', function () {
                    var calendarEl = document.getElementById('calendar');
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        headerToolbar: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'dayGridMonth,timeGridWeek,timeGridDay'
                        },
                        initialDate: new Date(),
                        navLinks: true, // can click day/week names to navigate views
                        selectMirror: true,
                        dayMaxEvents: true, // allow "more" link when too many events
                        events: !{JSON.stringify(date_reservation)}
                    });
                    calendar.render();
                });
        body
            #calendar